@font-face {
    font-family: "Novecento";
    font-style: normal;
    font-weight: bold;
}

body {
    -moz-tab-size: 4;
    font-family: sans-serif,serif;
    background: none repeat scroll 0 0 #F5F5F5;
    font-size: 1em;
    line-height: 1.6;
}

html, button, input, select, textarea {
    color: #666666;
}
a {
    color: #D95B5B;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#banner h1{
	font-family: sans-serif,serif;
}
#label{
    margin:auto;
    width: 80%;
    font:bold;
    text-align:center;
    font-size: 1.5em;
    background-color:#4D4D4D;
    color:#F5F5F5;
    opacity: 0.65;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #4D4D4D;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #222222;
}

#frontline{
	margin-top: 50px;
	width: 100%;
	float:top; 
	margin-bottom:25px;
	display:inline-block;
}

#carousel{
	height:350px;
	width:100%;
	margin-top:5px;
	clear:both;
}

#todayBoard{
	background-color:#EEEEEE;
	opacity:0.8;
	margin:auto;
	position:relative;
	float:left;
	width:40%;
	overflow:hidden;
	height:400px;
}

#piechart{
	float:left;
	margin:auto;
	position:relative;
	width: 80%; 
	height:300px;
	overflow:hidden;
}

#viewall{
	width:20%;
	margin: 20% auto auto;
	float:right;
}

#progress{
    color: #336699;
    float: left;
    font-weight: bold;
    height: 80px;
    letter-spacing: 0.2em;
    padding-top: 20px;
    width: 100%;
}


#progressstart{
	width:20%;
	float:left;
}

#progressend{
	width:20%;
	float:left;
}


#todayTable{
	position:relative;
	width: 100%;
	height: 100px;
}

#todayinfos{
	height: 120px;
	position: relative;
}

#timeinfos{
	margin:auto;
}

#progressbar{
	float:left;
	height:30px;
	width:59%;
	margin:auto;
    text-align: center;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    line-height: 35px;
}
 
.slotfocus{
	width:0%;
	height:0%;
	padding:20px;
	margin: auto;
	border-bottom:none;	
	margin-bottom: 2px;
}

#weekchart{
	background-color:#EEEEEE;
	opacity: 0.8;
	float:left;
	position:relative;
	width: 60%;
	height: 400px;
	margin:auto;
	overflow:hidden;
}

#weekchart div {
	margin:auto;
	margin-top: 5px;
}


.columnchart{
	float:left;
	width: 40%;
	position:relative;
	margin: auto;
	overflow:hidden;
}

.columnchart div{
	margin:auto;
}


.focuschart{
	width:20%;
	float:left;
	position:relative;
}

.focuschart div{
	margin:auto;
}

.round-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #337fed;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:31px;
	line-height:31px;
	width:100%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
	margin:auto;
	float:left;
}
.round-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.round-button:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
table td {
    border-bottom: none;
    line-height: normal;
}

#textinbar{
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    vertical-align: middle;
}

.controls{
	float:left;
}
