{% extends "base.html" %}

{% block content %}
<div id = "frontline" >
	<div id="todayBoard" >

		<div  id="piechart">
		</div>
			<div id="viewall">
				<div style="margin:auto;" class="round-button">View All</div>
			</div>	

		<div class = "progress" id="progress">
			<div id="progressstart">
				<img src="static/statistics/img/Clock.png"  style="width:10%;" />
			</div>
			<div id ="progressbar" ><div id="textinbar"></div></div>
			<div id ="progressend">
				<img src="static/statistics/img/Clock.png"  style="width:10%;" />
			</div>
		</div>

	</div>

	<div id="weekchart"></div>
</div>

<div class ="slotfocus" ></div>

<div><h2 id="label">All the slots</h2></div>
<div id="carousel">
	<div class="controls center">
		<div class="btn prev disabled" disabled="">
			<i class="icon-chevron-left">
				<img class="arrowmove" src="../../static/statistics/img/arrow-prev.png" alt="prev" />
			</i>
		</div>
	</div>

	<div class="wrap" >
		<div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>


		<div id="frame" class="frame" style="overflow: hidden; ">
			<ul class="slidee"></ul>
		</div>

	</div>

	<div class="controls center">
		<div class="btn next">
			<i class="icon-chevron-right">
				<img class="arrowmove" src="../../static/statistics/img/arrow-next.png" alt="next" />
			</i>
		</div>
	</div>
</div>
{% endblock content %}
