{% extends "base.html" %}

{% block content %}
<div id = "frontline" >
	<div id="todayBoard" >

		<div  id="piechart"></div>

		<div class = "progress" style="width:100%; height:80px; padding-top:20px; float:left;">
			<div id="progressstart" style="width:20%; float:left; ">
				<img src="static/statistics/img/Clock.png"  style="width:10%;" />
			</div>
			<div id ="progressbar" ><div id="textinbar"></div></div>
			<div id ="progressend" style="width:20%; float:left;">
				<img src="static/statistics/img/Clock.png"  style="width:10%;" />
			</div>
		</div>

	</div>

	<div id="weekchart"></div>
</div>

<div class ="slotfocus" ></div>

<div><h2 id="label">All the slots</h2></div>
<div id="carousel">
	<div style="float:left;" class="controls center">
		<div class="btn prev disabled" disabled="">
			<i class="icon-chevron-left">
				<img class="arrowmove" src="../../static/statistics/img/arrow-prev.png" alt="prev" />
			</i>
		</div>
	</div>

	<div class="wrap" >
		<div class="scrollbar">
			<div class="handle" style=" width: 190px;">
				<div class="mousearea"></div>
			</div>
		</div>


		<div id="frame" class="frame" style="overflow: hidden; ">
			<ul class="slidee"></ul>
		</div>

	</div>

	<div style ="float:left;" class="controls center">
		<div class="btn next">
			<i class="icon-chevron-right">
				<img class="arrowmove" src="../../static/statistics/img/arrow-next.png" alt="next" />
			</i>
		</div>
	</div>
</div>
<div style="width:100%;">
	<div style="margin:auto;" class="round-button">View All</div>
</div>	

{% endblock content %}
